<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %></title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<div class="aboutpage-header">
    <a href="/" class="home-icon">
        <img src="home-icon.png" alt="Head back home">
    </a>  
</div>
<body class="aboutpage">
    <h1><%= quizName %></h1>
    
    <p>This is an interactive educational platform set to quiz the minds of children keeping them upto date with lessons whilst having fun studying</p>


</body>
</html>
