<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="aboutpage">
    <h1><%= quizName %></h1>
    
    <p>This is an interactive educational platform set to quiz the minds of children keeping them upto date with lessons whilst having fun studying</p>

    <a href="/">Back to home page</a>

</body>
</html>
