<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %></title>
</head>
<body>
    <h1>Welcome to <%= quizName %>!</h1>
    <p>Get ready to test your knowledge with our quiz!</p>
    <h2>Remember to do your best, and, don't worry you're only going to get better</h2>
</body>
</html>
