<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, <%= userName %>!</h1>
    <!-- strong is used to bold the text to emphasis user progress -->
    <p>Email: <%= email %></p>
    <p>You are currently at <strong>Level <%= level %></strong>. Keep going to unlock more levels and challenge yourself!</p>
    <p>We're excited to see you progress through the quizzes.<br> Remember, the best way to learn is to keep challenging yourself !!</p>
    <a href="/logout">Sign Out</a>
    <p>or</p>
    <a href="/quiz-list">Back to the grind, let's crush it!</a>
</body>
</html>
