<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body class="profilepage">
    <section class="profile">
        <!-- Header displaying a personalized welcome message with user's name -->
        <h1>Welcome, <%= userName %>!</h1>
        <p>Email: <%= email %></p>
        <p>
        <!-- Display user's current level and encourage progression --> 
            <!-- strong is used to bold the text to emphasis user progress -->
            You are currently at <strong>Level <%= level %></strong>. 
            Keep going to unlock more levels and challenge yourself!
        </p>
        <p>
            We're excited to see you progress through the quizzes.<br> 
            Remember, the best way to learn is to keep challenging yourself!
        </p>
        <!-- Section with actions the user can take: sign out or continue with quizzes -->
        <div class="profile-actions">
            <a href="/logout"><button>Sign out</button></a>
            <p class="profilep">or</p>
            <a href="/quiz-list">Back to the grind, let's crush it!</a>
        </div>
    </section>
</body>
</html>
