<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= quizName %> - Quiz</title>
</head>
<body>
    <h1><%= quizName %> Quiz</h1>
    <p>Please answer the questions below to the best of your knowledge.</p>
    <form></form>
</body>
</html>