<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose a Quiz</title>
</head>
<body>
    <h1>Choose a Math Quiz</h1>
    <ul>
        <!-- List of quizzes -->
        <li><a href="/quiz?quizId=1">Addition </a></li>
        <li><a href="/quiz?quizId=2">Subtraction</a></li>
        <li><a href="/quiz?quizId=3">Multiplication </a></li>
        <li><a href="/quiz?quizId=4">Division </a></li>
    </ul>
</body>
</html>
