<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>
<body class="registered">
    <h1>Registration Successful!</h1>
    <p class ="registered-welcome">Welcome, <%= first %> <%= last %>!</p>
    <p class="registered-login">You can now log in to your account.</p>
    <a href="<%= baseURL %>/login"><button>Go to Login</button></a>
</body>
</html>
