<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Congrats, here is your score:</h1>
    <p>You scored <%= score %> out of <%= total %></p>
    <a href="/quiz-list">Head back and take another quiz</a>
</body>
</html>
