<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Results</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="scorepage">
    <div class="scorepage-header">
        <a href="/">
            <img src="/home-icon.png" alt="Head back home">
        </a>  
    </div>
<div class="container">
    <p class="main-message"><%= mainMessage %></p>
    <p class="sub-message"><%= subMessage %></p>
    <p class="additional-message"><%= additionalMessage %></p>
    <a href="/quiz-list">Head back and take another quiz</a>
</div>
</body>
</html>
